{#
/**
 * @file
 * This template serves only as a render target for react scripts, which are found
 * in the react-map directory of this module.
 *
 * /
 #}
{{kint()}}
<div id="react" data-uuid="{{uuid}}" data-bundle="{{contentType}}"></div>
